body {
    padding-top: 5rem;
    background-color: #232323;
}

@font-face {
    font-family: 'pixel'; /*a name to be used later*/
    src: url('../8-BIT WONDER.TTF'); /*URL to font*/
}
.pixel{
    font-family: pixel;
}

*{
    color: #ffffff;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.bg-inverse {
    background-color: #000000;
}
.navbar-brand{
    font-family: pixel;
}
.navbar-toggler {
    border: 1px solid;
    float: right;
    padding-left: 16px;
    padding-right: 16px;
}

.shadow{
    box-shadow: 0px 0px 15px #000;
}

.mobile{
    padding-bottom: 1rem;
}
.mobile img{
    margin: auto;
}

.stream {
    border: solid 3px #333333;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.stream:hover {
    border: solid 2px #d4d4d4;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
    cursor: pointer;
}
.stream-active{
    border: 1px solid #ffffff;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.m-l--05{
    margin-left: -0.5rem !important;
}
.m-r--05{
    margin-right: -0.5rem !important;
}


.frame{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.whitebox{
    background-color: #000;
    border: 1px solid #000000;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    -webkit-transition: all 2s ease; /* For Safari 3.1 to 6.0 */
    transition: all 2s ease;
    text-align: center;

}
.whitebox:hover{
    border-color: #44e020;
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
}
/*.whitebox img{
    width: auto;
    height: 100%;

}*/

.bigbox{
    max-height: 600px;
}
.box{
    max-height: 292px;
}
.smallbox{
    max-height: 150px;
}

.work{
    color: #ffffff;
}
.text-c-white{
    color: #ffffff;
}

.social{
    color: #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}
.social a{
    color: #ffffff;
    text-decoration: none;
}
.social:first-child{
    border-left: none;
}
.social:last-child{
    border-right: none;
}

.facebook{
    color: #4867aa;
    font-size: 0.8rem;
}

.youtube{
    color: #e62117;
    font-size: 0.8rem;
}
.twitter{
    color: #00aced;
    font-size: 0.8rem;
}
.google{
    color: #fbbc05;
    font-size: 0.8rem;
}